.ex-1-square{
    transition: 2s;
}

.ex-1-square:hover {
    background: red;
}

.ex-2-square{
    transition: 2s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square{
    transition: 2s;
}

.ex-3-square:hover{
    border-radius: 100%;
}

.ex-4-square{
    transition: 2s;
}

.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square{
    transition: 2s;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

.ex-6-img{

}

.ex-7-img{

}

.ex-8-img{

}

.ex-9-img{

}

.ex-10-icon{

}

.ex-11-icon{

}

.ex-12-button{

}

.ex-13-button{

}

.ex-13-top-white{

}

.ex-13-bottom-white{

}

.ex-2-square{

}

.ex-2-square{

}
